 /* IE 6-8 fallback colors */
.marker-cluster-small {
	background-color: #ccc;
	}
.marker-cluster-small div {
	background-color: #fff;
	}

.marker-cluster-medium {
	background-color: #ccc;
	}
.marker-cluster-medium div {
	background-color: #fff;
	}

.marker-cluster-large {
	background-color: #ccc;
	}
.marker-cluster-large div {
	background-color: #fff;
}

