/*Styles ===================================================== */

/*Colors:
rgb(65,67,74) Blue
rgb(242,241,233) Off White
rgb(110,148,137) Light Green
rgb(222,220,195) Light Grey
rgb(135,121,99) Light Brown
*/

body, html {
  height: 100%;
  width: 100%;
}
html {
  overflow: hidden;
  position: relative;
}
body {
	height: 100%;
  // margin: 0 auto;
  position: relative;
  top: 0;
  bottom: 0;
}
.header {
	// height: 40px; /*8.33333333%*/
  .opaqueshadow;
  position: relative;
  top: 0;
  width: 100%;
}
.header h2, .header h3 {
	color: @white;
	padding: 6px 0 6px 0;
	margin: 0 auto;
  font-weight: bold;
  &:hover {
    .opaqueshadow;
  }
  width: 100%;
  text-align: center;
}
body aside {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 55px;
  width: 320px;
  height: 100%;
  border: solid @white 1px;
  border-top: none;
  border-bottom: none;
  .opaqueshadow;
  z-index:100;
  .box-shadow(0px 0px 5px @lightergrey);
  // min-height: 690px;
}

/* Map Div */

.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  padding: 0;
  border: none;
}
#map {
	width: 100%;
  height: 100%;
}

/* Tools Control Box */

.controls {
  width: 100%;
  // height: 90px;
  position: absolute;
  bottom: 0;
  .opaqueshadow;
}

/* Geocoding Toolbox */

.gcodeBox {
  width: 320px;
  height: 90px; /*18.75%*/
  margin-bottom: 0;
  .opaqueshadow;
  float: left;
  /*display: none; /*for testing*/
}
.gcodeBox div {
  width: 250px;
  float: left;
}
.gcodeBox input {
  padding: 4px;
  line-height: 20px;
  .rounded(4px);
}
#street {
	width: 230px; /*92%*/
	float: left;
  margin: 10px;
  height: 30px;
}
#city {
	width: 110px; /*44%*/
	float: left;
  margin: 0 10px 10px 10px;
  height: 30px;
}
#state {
	width: 40px; /*16%*/
	float: left;
  margin: 0 10px 10px 0;
  height: 30px;
}
#zip {
	width: 60px; /*24%*/
	float: left;
  margin: 0 10px 10px 0;
  height: 30px;
}
#gcodeSubmit {
  margin: 10px 0 10px 0;
  float: left;
  height: 70px;
  width: 60px;
  text-align: center;
}

// Layer Picker Buttons

#lyrPck button {
   float: left;
   margin: 0 6px 0 6px;
   width: 151px;
}

#lyrPck button + button {
  float: right;
  margin: 0 6px 0 0;
  width: 151px;
}

#lyrPck p {
  text-align: center;
  margin: 0 0 0 0;
  color: @white;
  font-weight: bold;
  line-height: 28px;
}

// Leaflet Customization

div.leaflet-control-zoom.leaflet-control {
  .box-shadow(0px 0px 5px @lightergrey)
}

// Flotr Graphs

.vizContent {
  width: 320px;
  position: absolute;
  bottom: 90px;
  top: 147px;
  overflow: auto;
}

#svcGraph {
  height: 180px; 
  width: 300px; 
  margin: 20px 5px 10px 5px;
}
#probGraph {
  height: 220px; 
  width: 300px; 
  margin: 20px 5px 10px 5px;
}